$black: #010000;
$white: #ffffff;
$lightGrey: #bdb8b8;
$darkGrey: #333;
$red: #ff1755;
$orange: #dd924b;

.App {
    display: flex;
    flex-direction: column;

    overflow-x: auto;
    overflow-y: scroll;
}

body {
    font-family: 'Open Sans', sans-serif;
    @media (min-width: 481px)  { font-size: 18px; }
    /* Landscape phones and down */
    @media (max-width: 480px) { font-size: 12px; }
    color: $black;
    font-weight: 400;
    font-style: normal;
}

@mixin transition($e) {
    -webkit-transition: $e;
    -moz-transition: $e;
    transition: $e;
}

a {
    color:$white;
    @include transition(.4s ease-in);
    cursor: pointer;

    &:hover {
        text-decoration: none; 
        color: $lightGrey;
        @include transition(.4s ease-in);
    }
}

.container-fluid {
    line-height: 24px;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    @media (min-width: 1001px)  { top: 17%; }
    @media (min-width: 487px) and (max-width: 1000px)  { top: 24%; }
    @media (max-width: 486px)  { top: 29%; }
    position: fixed;
    overflow-y: scroll;
    overflow-x: auto;
    bottom: 20px;
    h1 {
        padding-bottom: 12px;
    }

    h4 {
        font-weight: bold;
    }
}