$black: #010000;
$white: #ffffff;
$lightGrey: #bdb8b8;
$darkGrey: #333;
$red: #ff1755;
$orange: #dd924b;

.App {
    display: flex;
    flex-direction: column;

    overflow-x: auto;
    overflow-y: scroll;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: $black;
    font-weight: 400;
    font-style: normal;
}

@mixin transition($e) {
    -webkit-transition: $e;
    -moz-transition: $e;
    transition: $e;
}

a {
    color:$white;
    position: relative;
    text-decoration: none;
    margin-bottom: 4px;

    &:hover {
        color: $orange;
        text-decoration: none;
        @include transition(0.3s ease-in);
    }
}

.container-fluid {
    line-height: 24px;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    position: initial;
    overflow-y: scroll;
    overflow-x: auto;
    bottom: 20px;
    h1 {
        padding-bottom: 12px;
        display: flex;
        padding-top: 12px;
        .page-title {
            width: calc(100% - 50px);
        }

        .logo-container {
            img {
                max-height: 50px;
            }
        }
    }

    h4 {
        font-weight: bold;
    }
}