@import "./_config.scss";

header {
    position: relative;
    width: 100%;
    background: $darkGrey;
    color: $white;
    height: 180px;
    vertical-align: middle;
    z-index: 2;

    .name {
        transform: translateX(-50%);
        left: 50%;
        text-align: center;
        position: relative;
        color: $orange;
        font-size: 48px;
        font-weight: normal;
    }

    .contact {
        position: relative;
        text-align: center;
        font-size: 16px;
        width: 100%;
        font-style: italic;
        font-weight: 400;
        color: $white; 
        vertical-align: top;
        display: inline-block;

        .info-container {
            display: inline-flex;
            vertical-align: top;
            padding-right: 6px;
            padding-left: 6px;
            .info-icon {
                display: inline-flex;
                transform: translateY(-2px);
                padding-right: 6px;
            }
        }
    }

    nav {
        transform: translateX(-50%);
        left: 50%;
        top: 15%;
        text-align: center;
        width: 60%;
        text-align: center;

        position: relative;
        vertical-align: top;
        display: flex;
        justify-content: space-between;

        svg {
            transform: translateY(-6px);
        }

        a {
            display: inline-flex;
            font-size: 20px;
        }
    }
}
