@import "./_config.scss";

header {
    position: relative;
    width: 100%;
    background: $darkGrey;
    color: $white;
    vertical-align: middle;
    z-index: 2;

    .name {
        transform: translateX(-50%);
        left: 50%;
        text-align: center;
        position: relative;
        color: $orange;
        @media (min-width: 481px)  { font-size: 48px; }
        /* Landscape phones and down */
        @media (max-width: 480px) { font-size: 36px; }
        font-weight: normal;
    }

    .contact {
        position: relative;
        padding-bottom: 4px;
        text-align: center;
        font-size: 14px; 
        width: 100%;
        font-style: italic;
        font-weight: 400;
        color: $white; 
        vertical-align: top;
        display: inline-block;

        .info-container {
            display: inline-flex;
            vertical-align: top;
            padding-right: 6px;
            padding-left: 6px;
            .info-icon {
                display: inline-flex;
                transform: translateY(-2px);
                padding-right: 6px;
            }
        }
    }

    nav {
        text-align: center;
        padding-right: 15%;
        padding-left: 15%;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        svg {
            transform: translateY(-6px);
        }

        a {
            display: inline-flex;
            font-size: 20px;
        }
    }
}