@import "./_config.scss";

header {
    position: relative;
    width: 100%;
    background: $darkGrey;
    color: $white;
    vertical-align: middle;
    z-index: 2;

    .name-container {
        width: 90%;
        margin: auto;
        display: flex; 
        flex-direction: row;
        .name {
            font-weight: normal;
            position: relative;
            color: $orange;
            
            @media (min-width: 1000px)  { 
                font-size: 44px; 
                width: 70%;
                text-align: left;
            }

            @media (max-width: 1001px) { 
                width: 100%;
                font-size: 36px;
                text-align: center; 
            }
        }

        .desktop-screen {
            @media (max-width: 1001px) {
                display: none;
            }

            @media (min-width: 1000px) {
                width: 30%;
                text-align: right;
                font-size: 20px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }
        }
    }

    .contact {
        @media (max-width: 1001px) {
            text-align: center;
            width: 100%;
        }

        @media (min-width: 1000px) {
            text-align: left;
            width: 91%;
            display: flex;
            margin: auto;
        }
        position: relative;
        padding-bottom: 4px;
        text-align: center;
        font-size: 14px; 
        width: 100%;
        font-style: italic;
        font-weight: 400;
        color: $white; 
        vertical-align: top;
        display: inline-block;

        .info-container {
            display: inline-flex;
            vertical-align: top;
            padding-right: 4px;
            padding-left: 2px;
            .info-icon {
                display: inline-flex;
                padding-right: 6px;

                svg {
                    padding-bottom: 4px;

                    &:nth-child(2) {
                        padding-bottom: 5px;
                    }
                }
            }
        }
    }

    .phone-screen {
        @media (min-width: 1001px) {
            display: none;
        }
        @media (max-width: 1000px) {
            text-align: center;
            padding-right: 15%;
            padding-left: 15%;
    
            display: flex;
            flex-direction: row;
            justify-content: space-between;
    
            a {
                display: inline-flex;
                font-size: 20px;
            }
        }
    }
}