body {
  font-family: 'Raleway', sans-serif;
  /* Landscape phones and down */
  color: #010000;
  font-weight: 400;
  font-style: normal; }
  @media (min-width: 481px) {
    body {
      font-size: 18px; } }
  @media (max-width: 480px) {
    body {
      font-size: 12px; } }

a {
  color: #ffffff;
  -webkit-transition: 0.4s ease-in;
  -moz-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
  cursor: pointer; }
  a:hover {
    text-decoration: none;
    color: #bdb8b8;
    -webkit-transition: 0.4s ease-in;
    -moz-transition: 0.4s ease-in;
    transition: 0.4s ease-in; }

.container-fluid {
  line-height: 24px;
  height: 100%;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 15px;
  position: fixed;
  overflow: scroll;
  padding-bottom: 135px; }
  .container-fluid h1 {
    padding-bottom: 12px; }
  .container-fluid h4 {
    font-weight: bold; }

header {
  position: relative;
  width: 100%;
  background: #333;
  color: #ffffff;
  vertical-align: middle;
  z-index: 2; }
  header .name-container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row; }
    header .name-container .name {
      font-weight: normal;
      position: relative;
      color: #dd924b; }
      @media (min-width: 1000px) {
        header .name-container .name {
          font-size: 44px;
          width: 60%;
          text-align: left; } }
      @media (max-width: 1001px) {
        header .name-container .name {
          width: 100%;
          font-size: 36px;
          text-align: center; } }
    @media (max-width: 1001px) {
      header .name-container .desktop-screen {
        display: none; } }
    @media (min-width: 1000px) {
      header .name-container .desktop-screen {
        width: 30%;
        text-align: right;
        font-size: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; } }
  header .contact {
    position: relative;
    padding-bottom: 4px;
    text-align: center;
    font-size: 14px;
    width: 100%;
    font-style: italic;
    font-weight: 400;
    color: #ffffff;
    vertical-align: top;
    display: inline-block; }
    @media (max-width: 1001px) {
      header .contact {
        text-align: center;
        width: 100%; } }
    @media (min-width: 1000px) {
      header .contact {
        text-align: left;
        width: 91%;
        display: flex;
        margin: auto; } }
    header .contact .info-container {
      display: inline-flex;
      vertical-align: top;
      padding-right: 6px;
      padding-left: 6px; }
      header .contact .info-container .info-icon {
        display: inline-flex;
        padding-right: 6px; }
  @media (min-width: 1001px) {
    header .phone-screen {
      display: none; } }
  @media (max-width: 1000px) {
    header .phone-screen {
      text-align: center;
      padding-right: 15%;
      padding-left: 15%;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      header .phone-screen a {
        display: inline-flex;
        font-size: 20px; } }
