.App {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  overflow-y: scroll; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #010000;
  font-weight: 400;
  font-style: normal; }

a {
  color: #ffffff;
  position: relative;
  text-decoration: none;
  margin-bottom: 4px; }
  a:hover {
    color: #dd924b;
    text-decoration: none;
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    transition: 0.3s ease-in; }

.container-fluid {
  line-height: 24px;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  position: fixed;
  overflow-y: scroll;
  overflow-x: auto;
  bottom: 20px; }
  @media (min-width: 1001px) {
    .container-fluid {
      top: 18%; } }
  @media (min-width: 487px) and (max-width: 1000px) {
    .container-fluid {
      top: 24%; } }
  @media (max-width: 486px) {
    .container-fluid {
      top: 29%; } }
  .container-fluid h1 {
    padding-bottom: 12px;
    display: flex; }
    .container-fluid h1 .page-title {
      width: calc(100% - 50px); }
    .container-fluid h1 .logo-container img {
      max-height: 50px; }
  .container-fluid h4 {
    font-weight: bold; }

header {
  position: relative;
  width: 100%;
  background: #333;
  color: #ffffff;
  vertical-align: middle;
  z-index: 2; }
  header .name-container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row; }
    header .name-container .name {
      font-weight: normal;
      position: relative;
      color: #dd924b; }
      @media (min-width: 1000px) {
        header .name-container .name {
          font-size: 44px;
          width: 70%;
          text-align: left; } }
      @media (max-width: 1001px) {
        header .name-container .name {
          width: 100%;
          font-size: 36px;
          text-align: center; } }
    @media (max-width: 1001px) {
      header .name-container .desktop-screen {
        display: none; } }
    @media (min-width: 1000px) {
      header .name-container .desktop-screen {
        width: 30%;
        text-align: right;
        font-size: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; } }
    header .name-container .desktop-screen a:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #dd924b;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s; }
    header .name-container .desktop-screen a:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1); }
    header .name-container .desktop-screen a.selected {
      color: #dd924b; }
  header .contact {
    position: relative;
    padding-bottom: 4px;
    text-align: center;
    font-size: 14px;
    width: 100%;
    font-style: italic;
    font-weight: 400;
    color: #ffffff;
    vertical-align: top;
    display: inline-block; }
    @media (max-width: 1001px) {
      header .contact {
        text-align: center;
        width: 100%; } }
    @media (min-width: 1000px) {
      header .contact {
        text-align: left;
        width: 91%;
        display: flex;
        margin: auto; } }
    header .contact .info-container {
      display: inline-flex;
      vertical-align: top;
      padding-right: 4px;
      padding-left: 2px; }
      header .contact .info-container .info-icon {
        display: inline-flex;
        padding-right: 6px; }
        header .contact .info-container .info-icon svg {
          padding-bottom: 4px; }
          header .contact .info-container .info-icon svg:nth-child(2) {
            padding-bottom: 5px; }
  @media (min-width: 1001px) {
    header .phone-screen {
      display: none; } }
  @media (max-width: 1000px) {
    header .phone-screen {
      text-align: center;
      padding-right: 15%;
      padding-left: 15%;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      header .phone-screen a {
        display: inline-flex;
        font-size: 20px; }
        header .phone-screen a:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: #dd924b;
          visibility: hidden;
          -webkit-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s; }
        header .phone-screen a:hover:before {
          visibility: visible;
          -webkit-transform: scaleX(1);
          transform: scaleX(1); }
      header .phone-screen a.selected {
        color: #dd924b; } }
