.App {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  overflow-y: scroll; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #010000;
  font-weight: 400;
  font-style: normal; }

a {
  color: #ffffff;
  position: relative;
  text-decoration: none;
  margin-bottom: 4px; }
  a:hover {
    color: #dd924b;
    text-decoration: none;
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    transition: 0.3s ease-in; }

.container-fluid {
  line-height: 24px;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  position: initial;
  overflow-y: scroll;
  overflow-x: auto;
  bottom: 20px; }
  .container-fluid h1 {
    padding-bottom: 12px;
    display: flex;
    padding-top: 12px; }
    .container-fluid h1 .page-title {
      width: calc(100% - 50px); }
    .container-fluid h1 .logo-container img {
      max-height: 50px; }
  .container-fluid h4 {
    font-weight: bold; }

.container-fluid div .about {
  display: flex; }
  .container-fluid div .about svg {
    margin-right: 30px;
    color: #dd924b; }
  .container-fluid div .about .about-info {
    margin-top: 25px; }
