.App {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  overflow-y: scroll; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #010000;
  font-weight: 400;
  font-style: normal; }

a {
  color: #ffffff;
  -webkit-transition: 0.4s ease-in;
  -moz-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
  cursor: pointer; }
  a:hover {
    text-decoration: none;
    color: #bdb8b8;
    -webkit-transition: 0.4s ease-in;
    -moz-transition: 0.4s ease-in;
    transition: 0.4s ease-in; }

.container-fluid {
  line-height: 24px;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  position: fixed;
  overflow-y: scroll;
  overflow-x: auto;
  bottom: 20px; }
  @media (min-width: 1001px) {
    .container-fluid {
      top: 18%; } }
  @media (min-width: 487px) and (max-width: 1000px) {
    .container-fluid {
      top: 24%; } }
  @media (max-width: 486px) {
    .container-fluid {
      top: 29%; } }
  .container-fluid h1 {
    padding-bottom: 12px; }
  .container-fluid h4 {
    font-weight: bold; }

.container-fluid .work-description {
  font-weight: 600; }

.container-fluid .image-with-list {
  display: flex;
  margin-bottom: 20px;
  width: 100%; }
  .container-fluid .image-with-list img {
    max-height: 120px;
    max-width: 120px; }
  .container-fluid .image-with-list svg {
    color: #dd924b; }
  .container-fluid .image-with-list ul {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }

.container-fluid .alt-hr {
  width: 80%;
  margin-top: 0; }

.container-fluid table caption {
  caption-side: top;
  color: #dd924b;
  padding: 0; }

.container-fluid table .check {
  color: green;
  font-size: 30px; }

.container-fluid table:first-child {
  padding-bottom: 0;
  margin-bottom: 0; }

.container-fluid table:last-child {
  padding-bottom: 24px; }
