body {
  font-family: 'Raleway', sans-serif;
  /* Landscape phones and down */
  color: #010000;
  font-weight: 400;
  font-style: normal; }
  @media (min-width: 481px) {
    body {
      font-size: 18px; } }
  @media (max-width: 480px) {
    body {
      font-size: 12px; } }

a {
  color: #ffffff;
  -webkit-transition: 0.4s ease-in;
  -moz-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
  cursor: pointer; }
  a:hover {
    text-decoration: none;
    color: #bdb8b8;
    -webkit-transition: 0.4s ease-in;
    -moz-transition: 0.4s ease-in;
    transition: 0.4s ease-in; }

.container-fluid {
  line-height: 24px;
  height: 100%;
  z-index: 1;
  height: 100%;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 15px;
  position: fixed;
  overflow: scroll;
  /* Large desktop */
  /* Portrait tablet to landscape and desktop */
  /* Landscape phone to portrait tablet */
  /* Landscape phones and down */ }
  @media (min-width: 1200px) {
    .container-fluid {
      padding-bottom: 12%; } }
  @media (min-width: 768px) and (max-width: 1199px) {
    .container-fluid {
      padding-bottom: 15%; } }
  @media (max-width: 767px) {
    .container-fluid {
      padding-bottom: 35%; } }
  @media (max-width: 480px) {
    .container-fluid {
      padding-bottom: 40%; } }
  .container-fluid h1 {
    padding-bottom: 12px; }
  .container-fluid h4 {
    font-weight: bold; }

.container-fluid .work-description {
  font-weight: 600; }

.container-fluid .image-with-list {
  display: flex;
  margin-bottom: 20px;
  width: 100%; }
  .container-fluid .image-with-list img {
    max-height: 120px;
    max-width: 120px; }
  .container-fluid .image-with-list svg {
    color: #dd924b; }
  .container-fluid .image-with-list ul {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }

.container-fluid .alt-hr {
  width: 80%;
  margin-top: 0; }

.container-fluid table caption {
  caption-side: top;
  color: #dd924b;
  padding: 0; }

.container-fluid table .check {
  color: green;
  font-size: 30px; }

.container-fluid table:first-child {
  padding-bottom: 0;
  margin-bottom: 0; }

.container-fluid table:last-child {
  padding-bottom: 24px; }
